.faq-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f0f0; /* Cor de fundo para a Central de Atendimento */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-custom {
    background-color: #fa1a1a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header-custom h1 {
    font-size: 24px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.atendimento {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.atendimento h2 {
    font-size: 18px;
    margin: 0;
}

.atendimento ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.atendimento li {
    margin-bottom: 10px;
}

.form {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.form h2 {
    font-size: 18px;
    margin: 0;
}

.form label {
    display: block;
    margin-bottom: 10px;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.button-group {
    display: flex; /* Flex para os botões ficarem lado a lado */
    justify-content: center; /* Centraliza os botões no grupo */
    margin-top: 20px; /* Adiciona espaço acima dos botões */
}

.botao-voltar {
    background-color: #fa1a1a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    flex: 1; /* Faz os botões ocuparem o mesmo espaço */
    max-width: 150px; /* Limita a largura dos botões */
    margin: 0 5px; /* Espaço entre os botões */
    font-size: 16px; /* Define um tamanho de fonte consistente */
}

.botao-voltar:hover {
    background-color: #FF6969;
}

.largura-mensagem {
    width: 80%; /* Ajuste a largura para 80% da tela */
    margin: 0 auto; /* Centralize a seção */
}
