/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #ffe0a5; /* Amarelo suave */
    color: #333; /* Texto escuro para contraste */
    width: 100vw;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    left: 0;
    border-top: 1px solid #e0e0e0; /* Linha superior para separar do conteúdo */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section a {
    color: #333; /* Cor dos links em cinza escuro */
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    color: #333; /* Cor dos ícones em cinza escuro */
    font-size: 24px;
    margin: 0 10px;
}

.footer-bottom {
    background-color: #f7f7f7; /* Amarelo levemente mais escuro para a parte inferior */
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #333; /* Texto em um tom escuro */
}
