.hemo-background {
  background: linear-gradient(to top, #FFC5C5, #E5E5EA);
  height: 100vh; /* Mantém a altura do fundo */
  display: flex; /* Alinha itens no eixo vertical */
  justify-content: center; /* Centraliza o contêiner horizontalmente */
  align-items: center; /* Centraliza o contêiner verticalmente */
  flex-direction: column; /* Organiza os itens em coluna */
}

.hemo-container {
  background-color: #FFFFFF;
  padding: 40px; /* Aumenta o preenchimento para mais espaço */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%; /* Define uma largura para o contêiner */
  max-width: 800px; /* Define uma largura máxima para evitar que fique muito largo */
  margin: 20px; /* Espaço em volta do contêiner */
  display: flex; /* Adiciona flexbox para centralizar conteúdo */
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

.retangulo-container {
  display: flex; /* Alinha os retângulos lado a lado */
  justify-content: center; /* Centraliza os retângulos */
  width: 70%; /* Define a largura do contêiner dos retângulos */
  margin: 20px; /* Margem em volta do contêiner dos retângulos */
}

.hemo-aside,
.retangulo-horizontal {
  background-color: #f0f0f0b0; /* Cor de fundo */
  border: 1px solid #ddd; /* Borda */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 10px; /* Diminui o preenchimento interno */
  width: 45%; /* Mantém a largura */
  margin: 10px; /* Margem em volta do retângulo */
  display: flex; /* Usa flexbox para centralizar o conteúdo */
  flex-direction: column; /* Organiza o conteúdo em coluna */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  height: auto; /* Permite que a altura se ajuste automaticamente ao conteúdo */
}


.hemo-list {
  text-align: center;
}

.hemo-list li {
  display: inline-block;
  margin: 0 20px;
}

.hemo-botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.hemo-botao {
  background-color: #fa1a1a;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
}

.hemo-botao:hover {
  background-color: #FF6969;
}

.titulo {
  font-size: 24px;
  color: #000000;
  text-align: center; /* Centraliza o texto */
}

.frase-motivacional {
  font-size: 18px;
  color: #666;
  text-align: center; /* Centraliza o texto */
}
.retangulo-seja-sangue {
  width: 70%; /* Diminui a largura do retângulo */
  max-width: 600px; /* Define uma largura máxima */
  height: auto; /* A altura se ajustará ao conteúdo */
  padding: 10px; /* Diminui o preenchimento interno */
  background-color: #f0f0f0b0; /* Cor de fundo */
  border: 1px solid #ddd; /* Borda */
  border-radius: 10px; /* Bordas arredondadas */
  margin: 20px auto; /* Margens superior e inferior, centralizado */
  display: flex; /* Para centralizar o conteúdo */
  flex-direction: column; /* Alinha o texto verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  text-align: center; /* Centraliza o texto */
}
.titulo-seja-sangue {
  font-size: 24px; /* Ajusta o tamanho do título */
  color: #000000;
  padding: 10px;
}

.frase-motivacional-seja-sangue {
  font-size: 18px; /* Ajusta o tamanho da frase motivacional */
  color: #666;
  margin-top: 10px; /* Adiciona espaço acima */
}