.wrapper {
  display: flex;
  align-items: flex-start; /* Alinhar ao topo */
  justify-content: center; /* Centraliza horizontalmente */
  height: 100vh; /* Ocupa 100% da altura da tela */
  padding-top: 40px; /* Aumenta o espaço no topo */
  background: linear-gradient(to top, #FFC5C5, #E5E5EA); /* Fundo com gradiente */
}

.container {
  background-color: #FFFFFF; /* Cor de fundo do container */
  padding: 30px; /* Mantém o padding interno */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Largura */
  max-width: 800px; /* Limite de largura maior */
  height: auto; /* Altura automática */
  min-height: 600px; /* Aumenta a altura mínima */
  margin: 0; /* Remove margens */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: #666666;
  margin-bottom: 20px;
  text-align: center;
}

.list {
  text-align: center;
}

.list li {
  display: inline-block;
  margin: 0 20px;
}

#nosso-servico p {
  color: #333; /* ou qualquer outra cor que você deseje */
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.botao {
  background-color: #fa1a1a;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
}

.botao:hover {
  background-color: #FF6969;
}

#funcoes-hemonucleo {
  background-color: #f0f0f0b0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-left: 115px;
  height: 44%;
  
  float: left; /* adicionado para que o aside flutue à esquerda */
}

.aside {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px; /* adiciona bordas arredondadas em todos os cantos */
}
.retangulo-horizontal {
  width: 887px;
  height: 360px;
  background-color: #f0f0f0b0;
  border: 1px solid #ddd;
  float: left;
  margin: 20px;
  position: relative;
}

.retangulo-horizontal img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.titulo {
  position: absolute;
  top: 40%;
  left: 68%;
  transform: translate(-50%, -50%);
  font-size: 24px;
 color: #000000;

  padding: 10px;
}

.frase-motivacional {
  position: absolute;
  top: 60%;
  left: 68%; /* Mudei para 65% para mover a frase para a direita */
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #666;
  text-align: center;
}
